<form name="registerForm" role="form">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title">Create Your Account</h3>
        </div>
        <div class="modal-body">
            <div class="alert" ng-class="registerMsgClass" role="alert" ng-show="registerMsg">
                {{registerMsg}}
            </div>
            <input name="firstName" class="form-control" ng-model="user.firstName" placeholder="First name" autofocus>
            <br />
            <input name="lastName" class="form-control" ng-model="user.lastName" placeholder="Last name">
            <br />
            <input name="email" class="form-control" type="email" ng-model="user.email" placeholder="Email">
            <br />
            <input name="password" class="form-control" type="password" ng-model="user.password" placeholder="Password">
        </div>
        <div class="modal-footer">
            <button class="btn btn-default" type="button" ng-click="close()">Cancel</button>
            &nbsp;
            <button class="btn btn-theme" href="" type="submit" ng-click="register()" ng-disabled="form.$invalid || dataLoading">
                Register
            </button>
        </div>
    </div>
</form>