<aside>
    <div id="sidebar" class="ajs-fade">
        <ul class="sidebar-menu">

            <p class="text-centered"><a href="#/profile"><img src="{{vm.defaultProfileImage}}" class="img-circle" width="60"></a></p>
            <h5 class="text-centered">{{vm.currentUser.firstName}} {{vm.currentUser.lastName}}</h5>

            <li class="sub-menu" style="margin-top:35px;">
                <a href="#/" ng-class="{ 'active': vm.activateDashboardNav }">
                    <i class="fa fa-dashboard theme-color"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li class="sub-menu">
                <a href="" ng-click="vm.settingsLinkGroup = !vm.settingsLinkGroup" ng-class="{ 'active': vm.activateSettingsNav }">
                    <i class="fa fa-cog theme-color"></i>
                    <span>Settings</span>
                </a>
                <ul class="sub ajs-fade" ng-show="vm.settingsLinkGroup">
                    <li><a href="#/sample" ng-class="{ 'active': vm.activateSampleSubNav }">Sample Link #1</a></li>
                    <li><a href="#/sample2" ng-class="{ 'active': vm.activateSample2SubNav }">Sample Link #2</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="" ng-click="vm.logout()">
                    <i class="fa fa-sign-out theme-color"></i>
                    <span>Logout</span>
                </a>
            </li>
        </ul>
    </div>
</aside>