<div class="page-title">{{vm.title}}</div>
Some basic ground work has already done for you like:
<ul class="bulleted-list">
    <li>App architecture</li>
    <li>Necessary JavaScript libraries</li>
    <li>Responsive Bootstrap template with Angular animation</li>
    <li><a href="https://angular-ui.github.io/bootstrap/">Angular Bootstrap UI</a> integrated</li>
    <li>Forms for account registration, login, forgot password</li>
    <li>Dashboard & user profile pages</li>
    <li>ect . . .</li>
</ul>
<br />
Start coding your sweet Angular app!
<br /><br /><br/>
<b>Stats Example</b>
<ul class="bulleted-list">
    <li>Total Hits: &nbsp; {{vm.dashData.totalHits}}</li>
    <li>Total Shares: &nbsp; {{vm.dashData.totalShares}}</li>
</ul>